---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$milestoneColWidth: 11em;

html,body {
    font-family: 'Noto-sans', sans-serif;
    font-size: 16px;
    height: 100%;
    display: flex;

}

hr {
    color: #d7d7d7;
}

.JourneySection {
    flex: 1;
    height: 100%;
    margin-right: 20px;

    &:last-child {
        margin: 0;
    }
}

.JourneySection__Icon {
    width: 1.3em;
    vertical-align: middle;
}

.block {
  height: 50px;
  background: repeating-linear-gradient(
  45deg,
  #ededed,
  #ededed 10px,
  #fff 10px,
  #fff 20px
  );
  border: 1px solid #292929;
  margin-left: 15px;
  margin-right: 15px;
}


h1 {
    border: 1px solid black;
    border-width: 1px 0;
    padding: 5px;
}

.Milestones {
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 0 15px;
}

.Milestone {
    position: relative;
    flex: 1;
    width: $milestoneColWidth;
    border: 1px solid black;
    border-width: 1px 0 0 1px;
    padding: 20px;

    &:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid black;
        background-color: #fff;
        position: absolute;
        top: -11px;
        left: -11px;
        transform: rotate(45deg);
    }

    &:after {
        content: '';
        width: 7px;
        height: 7px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        left: -4px;
    }

    &:last-child {
        border-right: 1px solid black;
    }
}

.Issue {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    border-left: 4px solid #d7d7d7;
    padding: 9px;
    margin-bottom: 18px;
    display: block;
    color: #585858;
    text-decoration: none;
}

.Issue:hover {
    box-shadow: 0 2px 4px #aaa;
}

.Issue--Severe {
    border-left: 4px solid #ff9c00;
}

.Issue--Blocking {
    border-left: 4px solid #ff0000;
}

.Milestone__Title {
    font-weight: bold;
    min-height: 2.3em;
    margin-bottom: 18px;
}

.Milestone__Description {
    margin-bottom: 20px;
}

.Controls {
    position: fixed;
    bottom: 34px;
    left: 34px;
    z-index: 9999;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 18px;
    color: black;
    line-height: 75px;
    text-align: center;
    background: #ededed;
    box-shadow: 0px 4px 8px #aaa;
}
