---
layout: default
---

<div class="Controls">
    <a href="javascript:void(0);" class="js-pauze-scroll">Play</a>
</div>

{% for step in site.data.journey %}
<section class="JourneySection">
    <h1>
        <img src="{{site.baseurl}}/images/icons/{{step.icon}}" alt="" class="JourneySection__Icon"> {{step.title}}
    </h1>
    <div class=block></div>
    <div class="Milestones">
    {% for milestone in step.milestones %}
        <div class="Milestone">
            <div class="Milestone__Title">{{milestone.title}}</div>


            <div class="Milestone__Issues">
                {% for issue in milestone.issues %}
                <a class="Issue Issue--{{issue.severity}}" href="https://drukwerkdeal.atlassian.net/wiki/display/UX/{{issue.link}}" target="_blank">
                    <b>I want to</b> {{issue.goal}}
                    <hr>
                    <b>I can not</b> {{issue.obstacle}}
                </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endfor %}
