<!DOCTYPE html>
<html lang="nl" class="no-js beta">
    <head>
        <base href="{{site.baseurl}}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" media="screen" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{site.baseurl}}/scripts/main.js">

        </script>
    </head>

    <body>
        {{ content }}
    </body>
</html>
